 <!-- footer start -->
 <div class='container-fluid bg-blueblack py-5'>
    <div class='container'>
        <div class='row'>
            <div class='col-12 col-md-3 text-center text-sm-start'>
                <ul class="list-unstyled text-light">
                    <li class='fw-bold mb-2'>Device support</li>
                    <li class='fw-light'>
                        <small>
                            Web
                        </small>
                    </li>
                    <li class='fw-light'>
                        <small>
                            Phone
                        </small>
                    </li>
                    <li class='fw-light'>
                        <small>
                            Pad
                        </small>
                    </li>
                </ul>
            </div>
            <div class='col-12 col-md-3 text-center text-sm-start'>
                <ul class="list-unstyled text-light">
                    <li class='fw-bold mb-2'>Module</li>
                    <li class='fw-light'>
                        <small>
                            Blog
                        </small>
                    </li>
                    <li class='fw-light'>
                        <small>
                            Skill
                        </small>
                    </li>
                    <li class='fw-light'>
                        <small>
                            About
                        </small>
                    </li>
                    <li class='fw-light'>
                        <small>
                            Call
                        </small>
                    </li>
                </ul>
            </div>
            <div class='col-12 col-md-3 text-center text-sm-start'>
                <ul class="list-unstyled text-light">
                    <li class='fw-bold mb-2'>Support</li>
                    <li class='fw-light'>
                        <small>
                            Web FrontEnd
                        </small>
                    </li>
                    <li class='fw-light'>
                        <small>
                            PhotoShop
                        </small>
                    </li>
                    <li class='fw-light'>
                        <small>
                            BootStrap 5
                        </small>
                    </li>
                </ul>
            </div>
            <div class='col-12 col-md-3 text-center text-sm-start'>
                <ul class="list-unstyled text-light">
                    <li class='fw-bold mb-2'>Victor's Planet</li>
                    <li class='fw-light'>
                        <small>
                            Victor's personal website.
                        </small>
                    </li>
                </ul>
            </div>
            <div class='col-12 text-center text-light mt-3'>
                <span>Victor © 1997-2021 Copyright</span>
            </div>
        </div>
    </div>
</div>