<!-- navbar -->
<div class='container-fluid sticky-top px-0 shadow'>
    <nav class='navbar navbar-expand-md navbar-dark bg-blueblack'>
        <div class='container-fluid px-4'>
            <a href="/" class="navbar-brand ms-4">Victor's Planet</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#slidernode">
                <span class='navbar-toggler-icon'></span>
            </button>
            <div class="collapse navbar-collapse" id="slidernode">
                <ul class="navbar-nav ms-auto me-4">
                    <li class="navbar-item text-end"><a href="#pf" class="nav-link fw-lighter">Portfolio</a></li>
                    <li class="navbar-item text-center"><a href="/#bk" class="nav-link fw-lighter">Blog</a></li>
                    <li class="navbar-item"><a href="/#jn" class="nav-link fw-lighter">Skill</a></li>
                    <li class="navbar-item"><a href="/#gy" class="nav-link fw-lighter">About</a></li>
                    <li class="navbar-item"><a href="/#lx" class="nav-link fw-lighter">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>  
</div>