<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Victor - Blog - Why do some people keep changing jobs?</title>
<!-- 		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<script src="js/bootstrap.bundle.min.js"></script> -->

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

		<style>
			.bg-blueblack{background-color: #161d27;}
			.shadow-img{box-shadow:-10px 10px 0px #a19975;}
			.btn-secondaryellow{background-color: #a19975;}
			.text-secondaryellow{color:#a19975 ;}
			.navOl .breadcrumb-item::before{
				color: #f8f9fa!important;
			}
			a{text-decoration: none;}
			.bg-image{
				background-repeat:no-repeat;
				background-attachment:fixed;
				background-size: cover;
				background-position: center center;
			}
			.content-box a{color: black;}
			.content-box a:hover{
				color: #0A53BE;
			}
			.badge-box a:hover{
				color:white
			}
			/*https://huke88.com/article/4243.html*/
		</style>
	</head>
	<body class='bg-light'>
		<!-- nav start-->
		<%- include('layouts/navbar');-%>
		<!-- nav end-->
		<!-- banner start-->
		<div class='bg-image position-relative' style="background-image: url(image/overlay-bg.jpg); height: 300px;">
			<div class='position-absolute w-100 h-100 bg-primary' style="opacity: 0.7;"></div>
			<div class='position-absolute w-100 h-100 py-5' style="z-index: 5;">
				<h1 class='text-light text-center display-2'>Blog</h1>
				<nav class='text-light' style='--bs-breadcrumb-divider:">"'>
					<ol class='breadcrumb navOl d-flex justify-content-center'>
						<li class="breadcrumb-item"><a href="index.html" class='text-light'><b>Home</b></a></li>
						<li class='breadcrumb-item'>Blog</li>
					</ol>
				</nav>
				<h1 class='text-center text-light mt-4'>
					Why do some people keep changing jobs?
				</h1>
			</div>
		</div>
		<!-- banner end-->
		<!-- content start-->
		<div class='container'>
			<div class="row py-5">
				<div class='col-lg-8 col-12 px-1 mb-4'>
					<!-- conntent-->
					<div class='shadow bg-white p-5 mb-4'>
						<img src="img/1.png" class='img-fluid' />
						<h4 class='mt-3'>Skill development(Programmer) - Why do some people keep changing jobs?</h4>
						<ul class='list-unstyled d-flex border-start border-3 border-primary align-items-center'>
							<li class='d-flex align-items-center ms-2'>
								<svg class='me-1' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
								  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
								</svg>
								<a href="#">Victor</a>
							</li>
							<li class='d-flex align-items-center ms-3'>
								<svg class='me-1' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags-fill" viewBox="0 0 16 16">
								  <path d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
								  <path d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"/>
								</svg>
								<a href="#">Web Design</a>
							</li>
							<li class='d-flex align-items-center ms-3'>
								<svg class='me-1' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
								  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
								</svg>
								<a href="#">10</a>
							</li>
						</ul>
						<p class='mb-2 fw-lighter'>
							Recently, many students are asking me why most people change their jobs all the time. Is it true that the company is not good? Or why? Today we are going to talk about it.

							From the big data of social dimission, in fact, most partners break up with the company because of these three reasons, the company is stupid, the boss is stupid, and the colleagues are stupid, but these are internal dimission problems, in fact, there is also an external dimission problem.

							As is known to all, when we choose a job generally look at these three points, salary, distance, the environment, these are the company's external issues, usually we when selecting work according to their proportion of the three choices will be very good choice, such as total score I give 10 points, the salary of 8 points, from 1 minute, environment 1 minute, So as long as the salary reaches the position other dispensable go on a business trip every day does not matter, what I want is money, or my environment 5 minutes, distance 4 minutes, salary 1 minutes, so you must be a person who pays attention to the quality of working life, perhaps salary is not so important, maybe we still have other pursuits besides the job

							So we may wish to give yourself such a proportion of planning before really looking for a job, at least to find a relative in line with their expectations in the external company, because the in the mind is expected to require the quality of life and work of partners, even if you give more money will do unhappy.

							But the problem is from the new and the old distinction, because the couple phase value is to be able to survive in the company, more is not special requirements for these three, and even some friend do not need to pay so high, the environment also do not need so good, just learning experience, so as a newcomer "survival" is very important, Because of the possibility of their own because of a variety of unsuitable resignation.

							Because in the new job in a variety of "first time" there will be extreme discomfort.

							The "first" interview will be running around downstairs afraid to enter the company.

							"The first time" I joined the company, I felt the company environment was extremely depressed, and I felt the burden in my heart became larger.

							I don't know a lot about my first assignment, but I'm afraid to ask other busy colleagues.

							"For the first time" talk with the leader nervous of dying, always afraid to say wrong words, reduce the good impression to my leadership...

							Perhaps for the extreme introverted new people, in more than expected in the heart after the "first time" too much, escape is the best way to hide from reality, so in the new area, most of the reason is due to the "first time" too much more introverted do not adapt to the social environment caused by.

							Society for our responsibility, of course, it is necessary to find a job of social responsibilities, or even look down on disease, because there is no social security card, so we have to continue to look for a job again, forcing himself to adapt to their own does not adapt, but after a part of the "first", a lot of new people will adapt to the social rhythm, and gradually found their own direction, At this point there will be an internal breakup problem, the company is stupid, the boss is stupid, the colleague is stupid. These three points are unpredictable, even himself can't or so, but this time will be on their own powerful emotional intelligence to dominate in the workplace, some high eq, for colleagues, boss get along better, which is flattering to all eat, some people may be ordinary but because of lack of recognition is ordinary, However, there will be students who want to find Bole, so the best way is to go to another company to find Bole.

							In a word, everyone wants to find the end result they want, and they are not willing to change jobs all the time. However, most people in this society are not satisfied, and most people do not work because they like work, and there are very few people who are really interested in work, which leads to this social phenomenon.
							I still hope you can find your favorite job as soon as possible and stay stable for a long time, so that you can gradually find the direction of life. (◐ ‿ ◑)
						</p>
					</div>
					<!-- conntent end-->
					<div class='shadow bg-white p-5 mb-4'>
						<h4 class='border-start border-5 border-primary ps-3'>Comments(9)</h4>
						<div class='d-flex mt-5'>
							<img src="image/zm.png" height="80" />
							<div class='ms-4 w-auto text-break'>
								<h4>Chewbacca</h4>
								<i>19 Sep 2020</i>
								<p class='text-secondary'>Funny</p>
							</div>
						</div>
						<div class='d-flex ps-4 mt-2'>
							<img src="image/80.png" height="80" />
							<div class='ms-4 w-auto text-break'>
								<h4>Victor</h4>
								<i>20 Sep 2020</i>
								<p class='text-secondary'>Keep on studying</p>
							</div>
						</div>
						<div class='d-flex mt-4'>
							<img src="image/t2.png" height="80"  />
							<div class='ms-4 w-auto text-break'>
								<h4>Yoda</h4>
								<i>13 Sep 2020</i>
								<p class='text-secondary'>Thanks for sharing</p>
							</div>
						</div>
					</div>
					<!-- end-->
					<!-- mes -->
					<div class='shadow bg-white p-5'>
						<h4 class='border-start border-5 border-primary ps-3'>Comment/h4>
						<div class='row mt-3'>
							<div class='col-12 col-md-6 mb-4 mb-md-0'>
								<input class='form-control rounded-0' placeholder="Name*" />
							</div>
							<div class='col-12 col-md-6'>
								<input class='form-control rounded-0' placeholder="Email*" />
							</div>
							<div class='col-12 mt-4'>
								<input class='form-control rounded-0' placeholder="WebSite" />
							</div>
							<div class='col-12 mt-4'>
								<div class='form-floating'>
									<textarea placeholder="123" class='form-control rounded-0' style='height: 120px;' id='contentnode'></textarea>
									<label for='contentnode' class='text-secondary'>Content</label>
								</div>
								<button class='btn btn-secondary rounded-0 mt-4'>Submit</button>
							</div>
						</div>
					</div>
					<!-- mes-->
				</div>
				<div class='col-12 col-lg-4 px-1'>
					
					<div class='shadow p-5 bg-white ms-lg-4 mb-4'>
						<h4 class='border-start border-5 border-primary ps-3'>Search</h4>
						<div class='input-group mt-3'>
							<input class='form-control rounded-0' placeholder="Search articles" />
							<button class='btn btn-primary rounded-0 d-flex align-items-center justify-content-center'>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
								  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
								</svg>
							</button>
						</div>
					</div>
					<div class='shadow p-5 bg-white ms-lg-4 content-box mb-4'>
						<h4 class='border-start border-5 border-primary ps-3'>Recent articles</h4>
						<ul class='mt-3'>
							<li>
								<a href="#">
									Programmer "dead" at 35?
								</a>
							</li>
							<li class='mt-2'>
								<a href="#">
									What exactly is a big front end?
								</a>
							</li>
							<li  class='mt-2'>
								<a href="#">
									All things can be JS in the legend?
								</a>
							</li>
							<li  class='mt-2'>
								<a href="#">
									Explore GET/SET methods hidden in objects?
								</a>
							</li>
						</ul>
					</div>
					<div class='shadow p-5 bg-white ms-lg-4 content-box'>
						<h4 class='border-start border-5 border-primary ps-3 mb-3'>Tag</h4>
						<a href="#" class='badge bg-primary rounded-pill p-2 text-light mb-2'>Web</a>
						<a href="#" class='badge bg-primary rounded-pill p-2 text-light mb-2'>JavaScript</a>
						<a href="#" class='badge bg-primary rounded-pill p-2 text-light mb-2'>HTML</a>
						<a href="#" class='badge bg-primary rounded-pill p-2 text-light mb-2'>CSS</a>
						<a href="#" class='badge bg-danger rounded-pill p-2 text-light mb-2'>JAVA</a>
					</div>
				</div>
			</div>
		</div>
		<!-- content end-->
		<!-- footer start -->
		<div class='container-fluid bg-blueblack py-5'>
			<div class='container'>
				<div class='row'>
					<div class='col-12 col-md-3 text-center text-sm-start'>
						<ul class="list-unstyled text-light">
							<li class='fw-bold mb-2'>Client support</li>
							<li class='fw-light'>
								<small>
									Web
								</small>
							</li>
							<li class='fw-light'>
								<small>
									Phone
								</small>
							</li>
							<li class='fw-light'>
								<small>
									Pad
								</small>
							</li>
						</ul>
					</div>
					<div class='col-12 col-md-3 text-center text-sm-start'>
						<ul class="list-unstyled text-light">
							<li class='fw-bold mb-2'>Module</li>
							<li class='fw-light'>
								<small>
									Blog
								</small>
							</li>
							<li class='fw-light'>
								<small>
									Skill
								</small>
							</li>
							<li class='fw-light'>
								<small>
								    About
								</small>
							</li>
							<li class='fw-light'>
								<small>
									Call
								</small>
							</li>
						</ul>
					</div>
					<div class='col-12 col-md-3 text-center text-sm-start'>
						<ul class="list-unstyled text-light">
							<li class='fw-bold mb-2'>Client</li>
							<li class='fw-light'>
								<small>
									Web
								</small>
							</li>
							<li class='fw-light'>
								<small>
									PhotoShop
								</small>
							</li>
							<li class='fw-light'>
								<small>
									BootStrap 5
								</small>
							</li>
						</ul>
					</div>
					<div class='col-12 col-md-3 text-center text-sm-start'>
						<ul class="list-unstyled text-light">
							<li class='fw-bold mb-2'>Victor's Planet</li>
							<li class='fw-light'>
								<small>
									Victor's personal website
								</small>
							</li>
						</ul>
					</div>
					<div class='col-12 text-center text-light mt-3'>
						<span>Victor © 1997-2021 Copyright</span>
					</div>
				</div>
			</div>
		</div>
		<!-- footer end -->
	</body>
</html>